<ul id="sti-menu" class="sti-menu">
				<li data-hovercolor="#A6CE39">
					<a href="/hemp_temps/new">
						<h2 data-type="mText" class="sti-item">HempTemps</h2>
						<h3 data-type="sText" class="sti-item">Applicants</h3>
						<span data-type="icon" class="sti-icon sti-icon-care sti-item"></span>
					</a>
				</li>
				<li data-hovercolor="#A6CE39">
					<a href="/employer_inquiries/new">
						<h2 data-type="mText" class="sti-item">Partners</h2>
						<h3 data-type="sText" class="sti-item">Employers</h3>
						<span data-type="icon" class="sti-icon sti-icon-alternative sti-item"></span>
					</a>
				</li>
	</ul>
<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
