@mixin push_down( $dist ) {
	position: relative;
	top: $dist;
}

@mixin triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8.7px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
	line-height: 0px;
	_border-color: #ffffff #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
