<div id="inner_footer">
	<div class="social">
		<%= link_to image_tag("facebook-icon.png"), "https://www.facebook.com/hemptempsstaffing" %>
		<%= link_to image_tag("twitter-icon.png"), "https://www.twitter.com/HempTemps" %>
	</div>
</div>
