<div id="inner_footer">
	<div class="social">
		<%= link_to image_tag("youtube-icon.png"), "#" %>
		<%= link_to image_tag("facebook-icon.png"), "#" %>
		<%= link_to image_tag("twitter-icon.png"), "#" %>
	</div>
</div>
