<div id="inner_header">
	<h1 id='logo'>
		<%= image_tag "hemptemp-logo.png", class: :logo %>
		<%= image_tag "header-img-top.png", class: :effect %>
	</h1>
	<%= render(:partial => "/refinery/menu", :locals => {
							 :dom_id => 'menu',
							 :css => 'menu'
						 }) %>
</div>
