// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/css3";
@import "partials/mixins";

$light_grey: #FFFFFF;
$dark_green: #2A431D;
$dark_mid_green: #5d9440;
$light_mid_green: #94eb65;
$light_green: #DCEAB1;

$content_margin: 10px;

body {
	font: 17px Georgia, serif;
	@include background-image(linear-gradient(color-stops($light_green, $light_grey)));
	h2 {
		color: $dark_green;
		font-size: 40px;
		font-weight: bolder;
		margin-bottom: $content_margin;
		a {
			color: $dark_green;
		}
		img {
			margin-right: 3px;
		}
	}
	p {
		margin-bottom: $content_margin;
	}
}

form.bp {
  @include blueprint-form;
  @include blueprint-scaffolding;
}

#header {
	position: relative;
	background-color: #2A431D;
	height: 180px;
	margin-bottom: 20px;
	#inner_header {
		height: 100%;
		@include container;
		$push_down: 20px;
		#logo {
			.logo {
				float: left;
				@include push_down(7px);
			}
			.effect {
				float: left;
				width: 500px;
				@include push_down($push_down);
			}
		}
		nav {
			clear: both;
			@include push_down($push_down);
			height: 42px;
			display: block;
			ul {
				width: 100%;
				height: 100%;
				list-style: none;
				li {
					display: inline;
					float: left;
					margin-right: 10px;
					padding: 4px;
					line-height: 18px;
					@include push_down( 4px );
					&.selected {
						@include border-radius(3px, 3px);
						background-color: white;
						a {
							color: $dark_green;
							&:hover {
								color: $dark_green;
							}
						}
						.triangle {
							@include triangle;
							position: absolute;
							top: 28px;
						}
					}
					a {
						font-size: 22px;
						text-decoration: none;
						color: $dark_mid_green;
						@include push_down(1px);
						font-weight: bolder;
						&:hover {
							color: white;
						}
					}
				}
			}
			span#contact {
				position: absolute;
				right: 0px;
				color: $light_mid_green;
				font-size: 34px;
			}
		}
	}
}

#page_container {
	@include container;
	min-height: 410px;
	#body_content {
		#body_content_title {
			font-size: 42px;
			color: $dark_green;
			margin-bottom: 20px;
			font-weight: bolder;
			text-decoration: underline;
		}
	}
}
.news_item_truncated {
	margin-bottom: 20px;
	h2 {
		a {
			color: $dark_green;
			&:hover {
				color: $dark_mid_green;
			}
		}
	}
}
.news_item {
	h2 {
		a {
			color: $dark_green;
			&:hover {
				color: $dark_mid_green;
			}
		}
	}
	p {
		font-size: 14px;
	}
}

.pagination {
	margin-top: 20px;
	text-align: center;
	font-size: 42px;
	color: $dark_mid_green;
	em.current {
		color: $dark_green;
	}
	a {
		color: $dark_mid_green;
		&:hover {
			color: $light_mid_green;
		}
	}
}

footer {
	background-image: url(/assets/footer-image.png);
	background-repeat: repeat-x;
	background-position: bottom;
		position: relative;
	height: 300px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	#inner_footer {
		@include container;
		position: relative;
		top: 170px;
		text-align: center;
		.social {
			a {
				margin-right: 20px;
				img {
					opacity: 0.5;
					transition: opacity .5s ease-in-out;
					-moz-transition: opacity .5s ease-in-out;
					-webkit-transition: opacity .5s ease-in-out;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
