/*Sliding Text and Icon Menu Style*/
.sti-menu{
	width:1010px;
	position:relative;
	margin:60px auto 0 auto;
}
.sti-menu li{
	position: relative;
	left: 170px;
	float: left;
	width: 200px;
	height: 300px;
	margin-right: 200px;
	list-style: none;
	background-color: #6fb244;
}
.sti-menu li a{
	display: block;
	overflow: hidden;
	background: none;
	text-align: center;
	height: 100%;
	width: 100%;
	position: relative;
	-moz-box-shadow: 1px 1px 2px #ddd;
	-webkit-box-shadow: 1px 1px 2px #ddd;
	box-shadow: 1px 1px 2px #ddd;
	text-decoration: none;
}
.sti-menu li a h2{
	font-family: 'Wire One', arial, serif;
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	padding: 10px;
	width: 180px;
	top: 140px;
	left: 0px;
	text-shadow: 0px 1px 1px black
}
.sti-menu li a h3{
	font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 18px;
	font-style: italic;
	color: #111;
	position: absolute;
	top: 200px;
	left: 0px;
	width: 180px;
	padding: 10px;
}
.sti-item{
	overflow: hidden;
	color: #030;
	text-decoration: none;
}
.sti-icon{
	width:100px;
	height:100px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:50px;
	top:30px;
}
.sti-icon-care{
	background-image:url(/assets/applicants-icon.png);
}
.sti-icon-alternative{
	background-image:url(/assets/employers-icon.png);
}
